POSTGRES_USER=admin
POSTGRES_PASSWORD=crie_senha_aqui
POSTGRES_DB=equatorial_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

DATABASE_URL=postgresql://admin:senha_do_postgres@db:5432/equatorial_db

MASTER_USER_REGISTRATION=A111
MASTER_USER_NAME=Equatorial Mestre
MASTER_USER_PASSWORD=crie_senha_aqui

IED_SSH_USER=ACC
IED_SSH_PASSWORD=OTTER

VITE_API_URL=http://localhost:8000